* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.background img {
    height: 200px;
    width: 250px;
    margin: 0;
    padding: 0;
}
nav {
   position: relative;
   bottom: 4%;
}
.home2home {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 6%;
    left: 30%;
    border-radius: 50%;
}
.home2 {
    position: relative;
    bottom: 60px;
    font-size: 2em;
    color: #fff;
    left: 30px;
    padding: 0;
    margin: 0;
    font-family: 'Fasthand', cursive;
}
nav {
    position: relative;
    bottom: 10%;
}
.side-bar {
    position: fixed;
    background: #030433;
    width: 250px;
    height: 100%;
}

.side-bar ul li {
    margin: 25px 0;
}
.side-bar ul li a {
    color: #b4aeae;
    padding: 0 20px;
    transition: 1s;
    font-size: 1.2em;
}
.side-bar ul li a:hover {
    color: #fff;
    margin-left: 20px;  
}

.content {
    margin-left: 250px;
    padding: 30px;
    font-size: 1.5em;
}
.material-icons {
    position: relative;
    top: 5px;
}
.content h2 {
    text-align: center;
    font-size: 2em;
    padding: 10px;
}
